page-guild-page {

  ion-navbar {

    ion-title{
      text-align: center;
    }

  }

  .title {
    color : color($colors,dark);
  }

  .custom-class-divider {
    color: color($colors,dark);
    background-color: color($colors,danger);
  }

  ion-content {
    background: url('../assets/img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

  }

}
