<ion-header>
  <ion-navbar color="red-lighten-1">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mes personnages</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="red-lighten-1">
    <ion-segment [(ngModel)]="selectedCategory" mode="md">

      <ion-segment-button value="core">
        Infos générales
      </ion-segment-button>
      <ion-segment-button value="crafting">
        Métiers
      </ion-segment-button>
      <ion-segment-button value="equipment">
        Stuff
      </ion-segment-button>
      <ion-segment-button value="inventory">
        Sacs
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class="myBg">

  <div [ngSwitch]="selectedCategory" *ngIf="selectedCharacter != undefined">

    <ion-card  *ngSwitchCase="'core'">
      <ion-item class="custom-class-divider">
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Race : </b>{{CharacterRace}}</h2>
      </ion-item>

      <ion-item class="custom-class-divider">
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Genre : </b>{{CharacterGenre}}</h2>
      </ion-item>

      <ion-item class="custom-class-divider">
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Profession : </b>{{CharacterProfession}}</h2>
      </ion-item>

      <ion-item class="custom-class-divider">
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Niveau : </b>{{CharacterLevel}}</h2>
      </ion-item>

      <ion-item *ngIf="CharacterTitle" class="custom-class-divider" text-wrap>
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Titre : </b>{{CharacterTitle}}</h2>
      </ion-item>

      <div *ngIf="CharacterGuild">
      <button class="custom-class-divider" ion-item *ngFor="let guild of CharacterGuild" (click)="goToGuild(guild)" text-wrap>
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Guilde représentée : </b>{{guild.name}} , [{{guild.tag}}]</h2>
      </button>
      </div>

      <ion-item class="custom-class-divider">
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Age : </b>{{CharacterAge}} jours</h2>
      </ion-item>

      <ion-item class="custom-class-divider" text-wrap>
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Date de création : </b>{{CharacterCreation}}</h2>
      </ion-item>

      <ion-item class="custom-class-divider">
        <ion-icon name="" large item-left></ion-icon>
        <h2><b>Nombre de morts : </b>{{CharacterDeaths}}</h2>
      </ion-item>

    </ion-card>

    <ion-list *ngSwitchCase="'crafting'">

      <ion-card *ngFor="let job of CharacterCrafting">

      <ion-item class="custom-class-divider" no-lines>
      <ion-icon name="" large item-left></ion-icon>
      <h2><b>{{job.discipline}}</b></h2>
      </ion-item>

      <ion-item class="custom-class-divider">
      <ion-icon name = "" item-left large></ion-icon>
      <h2><b>Niveau : </b>{{job.rating}}</h2>
      </ion-item>
      <ion-item class="custom-class-divider" no-lines>
      <ion-icon name = "" item-left large></ion-icon>
      <h2><b>Actif : </b>{{isActive(job.active)}}</h2>
      </ion-item>

    </ion-card>
    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="red-lighten-1">
    <ion-item color="red-lighten-1" no-lines>
      <ion-label>Choisissez un personnage : </ion-label>
      <ion-select *ngIf="characters" #selectPersonnage [(ngModel)]="selectedCharacter" placeholder="Aucun" (ionChange)="changeCharacter()">
        <!--<ion-option *ngFor="let character of characters" value="{{character}}">{{character}}</ion-option> -->
        <ion-option value="Mysto The Reaper">Mysto The Reaper</ion-option>
        <ion-option value="Personnage 2">Personnage 2</ion-option>
        <ion-option value="Personnage 3">Personnage 3</ion-option>
        <ion-option value="Personnage 4">Personnage 4</ion-option>
        <ion-option value="Mysto Lol">Mysto Lol</ion-option>
        <ion-option value="Personnage 5">Personnage 5</ion-option>
        <ion-option value="Personnage 6">Personnage 6</ion-option>
        <ion-option value="Personnage 7">Personnage 7</ion-option>
        <ion-option value="Personnage 8">Personnage 8</ion-option>
        <ion-option value="Personnage 9">Personnage 9</ion-option>
        <ion-option value="Personnage 10">Personnage 10</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-footer>
