page-mes-personnages {

  ion-navbar {

    ion-title {
      text-align: center;
    }
  }

  ion-footer {
    ion-label {
      color: white !important;
    }
  }

  .segment-md .segment-button {
    color: white;
  }

  .segment-ios .segment-button {
    color: white;
  }

  .segment-button.segment-activated
  {
    border-color: white !important;
  }

  .character
  {
    background: url('../assets/img/personnage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

    .label-md {
    margin: 0;
    }

    .label-ios
    {
      margin: 0px;
    }

    .label-wp
    {
      margin: 0px;
    }

    img
    {
      width:auto;
    }

    ion-item {
      background-color: transparent !important;
      color: #ef5350;

      h2
      {
        color : #ef5350;
      }
    }
  }

  .crafting
  {
    background: url('../assets/img/crafting.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

    .label-md {
    margin: 0;
    }

    .label-ios
    {
      margin: 0px;
    }

    .label-wp
    {
      margin: 0px;
    }

    img
    {
      width:auto;
    }

    ion-item {
      background-color: transparent !important;
      color: #ef5350;

      h2
      {
        color : #ef5350;
      }
    }
  }

  ion-content {
    background: url('../assets/img/classes.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

  }

}

@import url('https://fonts.googleapis.com/css?family=Roboto');
