<ion-header>
  <ion-navbar color="red-lighten-1">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mes personnages</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="red-lighten-1">
    <ion-segment [(ngModel)]="selectedCategory" mode="md">

      <ion-segment-button value="core">
        Infos
      </ion-segment-button>
      <ion-segment-button value="crafting">
        Métiers
      </ion-segment-button>
      <ion-segment-button value="equipment">
        Stuff
      </ion-segment-button>
      <ion-segment-button value="inventory">
        Sacs
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class="myBg">

  <div [ngSwitch]="selectedCategory" *ngIf="selectedCharacter != undefined">

    <div  *ngSwitchCase="'core'">

      <!-- <ion-card class="character">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <ion-item class="race">
                 <img src="assets/img/{{CharacterRace}}.png">
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item class="custom-class-divider">
              <h2>{{CharacterProfession}}</h2>
            </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                <ion-icon name="md-{{CharacterGenre}}" item-right></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item class="custom-class-divider" text-wrap>
              <h2><b>Titre : </b>{{CharacterTitle}}</h2>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="item-right">
              <h2><b>Niveau : </b>{{CharacterLevel}}</h2>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item *ngFor="let guild of CharacterGuild" class="custom-class-divider" text-wrap>
                <h2><b>Guilde représentée : </b>{{guild.name}} , [{{guild.tag}}]</h2>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item class="custom-class-divider">
              <h2><b>Age : </b>{{CharacterAge}} jours</h2>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="custom-class-divider">
              <h2>{{CharacterDeaths}} <b>morts</b></h2>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item class="custom-class-divider">
              <h2><b>Création : </b>{{CharacterCreation}}</h2>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card> -->

      <ion-card class="character">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-item class="race">
                 <img src="assets/img/{{CharacterRace}}.png">
              </ion-item>
            </ion-col>
            <ion-col col-3>
              <ion-item class="race">
                 <img src="{{CharacterProfessionIcon}}">
              </ion-item>
            </ion-col>
            <ion-col col-3>
              <ion-item class="race">
                 <h2><b>Niveau</b> {{CharacterLevel}}</h2>
              </ion-item>
            </ion-col>
            <ion-col col-3>
              <ion-item class="race">
                 <ion-icon name="md-{{CharacterGenre}}" item-right></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item class="custom-class-divider">
              <h2>Titre : {{CharacterTitle}}</h2>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item *ngFor="let guild of CharacterGuild" class="custom-class-divider" text-wrap>
                <h2><b>Guilde représentée : </b>{{guild.name}} , [{{guild.tag}}]</h2>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item class="custom-class-divider">
              <h2><b>Age : </b>{{CharacterAge}} jours</h2>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="custom-class-divider">
              <h2>{{CharacterDeaths}} <b>morts</b></h2>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item class="custom-class-divider">
              <h2><b>Temps de jeu : </b>{{CharacterCreation}}</h2>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

</div>

<ion-list *ngSwitchCase="'crafting'">

  <ion-card *ngFor="let job of CharacterCrafting">

    <ion-item class="custom-class-divider" no-lines>
      <ion-icon name="" large item-left></ion-icon>
      <h2><b>{{job.discipline}}</b></h2>
    </ion-item>

    <ion-item class="custom-class-divider">
      <ion-icon name = "" item-left large></ion-icon>
      <h2><b>Niveau : </b>{{job.rating}}</h2>
    </ion-item>
    <ion-item class="custom-class-divider" no-lines>
      <ion-icon name = "" item-left large></ion-icon>
      <h2><b>Actif : </b>{{isActive(job.active)}}</h2>
    </ion-item>

  </ion-card>
</ion-list>

</div>

</ion-content>

<ion-footer>
  <ion-toolbar color="red-lighten-1">
    <ion-item color="red-lighten-1" no-lines>
      <ion-label>Choisissez un personnage : </ion-label>
      <ion-select *ngIf="characters" #selectPersonnage [(ngModel)]="selectedCharacter" placeholder="Aucun" (ionChange)="changeCharacter()">
        <ion-option *ngFor="let character of characters" value="{{character}}">{{character}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-footer>
