page-mes-personnages {

  ion-navbar {

    ion-title {
      text-align: center;
    }
  }

  ion-footer {
    ion-label {
      color: white !important;
    }
  }

  .segment-md .segment-button {
    color: white;
  }

  .segment-ios .segment-button {
    color: white;
  }

  .segment-button.segment-activated
  {
    border-color: white !important;
  }

  .toolbar-content-md {
    padding-right: 15px;
  }

  ion-content {
    background: url('../assets/img/classes.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

  }

}

@import url('https://fonts.googleapis.com/css?family=Roboto');
