<!--
Generated template for the Finishers page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="finishers">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mes finishers</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content class="myBg">

  <ion-grid>
    <ion-row wrap>
      <ion-col col-3 *ngFor="let licorne of infoFinishTab">
          <img [src]="licorne.icon" (click)="openMenu(licorne)"/>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="finishers">
    <ion-searchbar
      mode="ios" color="finishers" (ionInput)="getItems($event)">
    </ion-searchbar>
    <ion-icon name="ios-arrow-up" item-right *ngIf="!isOpenChoice" (click)="displayCheckBox()"></ion-icon>
    <ion-icon name="ios-arrow-down" item-right *ngIf="isOpenChoice" (click)="displayCheckBox()"></ion-icon>

    <ion-item color="finishers" *ngIf="isOpenChoice">
      <ion-label>Non Permanent</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item color="finishers" *ngIf="isOpenChoice">
      <ion-label>Permanent</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

  </ion-toolbar>
</ion-footer>
