<!--
Generated template for the Finishers page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>finishers</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="page-finishers">

  <ion-grid>


  <!--  <ion-row> version en dur comme ma
      <ion-col width-33>
        <ion-item no-lines>
          <img src="assets/img/icon.png" (click)="openMenu()"/>
          </ion-item >
      </ion-col>
      <ion-col width-33>
        <ion-item no-lines>
          <img src="assets/img/icon.png" (click)="openMenu()"/>
          </ion-item >
      </ion-col>
      <ion-col width-33>
        <ion-item no-line>
          <img src="assets/img/icon.png" (click)="openMenu()"/>
        </ion-item >
      </ion-col>
    </ion-row> -->

  <!--  <ion-row *ngFor="let licorne of finisherTab">
      <ion-col width-33 >
        <ion-item no-lines>
          <img src="assets/img/icon.png" (click)="openMenu()"/>
          </ion-item >
      </ion-col>

    </ion-row> -->

    <ion-list>
  <ion-item *ngFor="let licorne of finisherTab">
    <ion-thumbnail item-left>
        <img src="assets/img/icon.png" (click)="openMenu()"/>
    </ion-thumbnail>
    <h2>{{licorne.id}}</h2>
    <p>{{licorne.permanent}}</p>
    <button ion-button clear item-right>View</button>
  </ion-item>
</ion-list>



  </ion-grid>

  <button ion-button block (click)="openMenu()" >
    Show Action Sheet
  </button>



</ion-content>
