page-minis {

  .myBg {
     background-color: color($colors,blizzard);
   }

   .item-content
   {
     background-color: transparent !important;

     h1 {
       text-align: center;
       color: map-get($colors, "secondary");
     }
   }

   ion-title
   {
     text-align: center;
   }
}
